extends layout

block content
  .main.container
    h1 Feed
    each p in feed
      h2= p.title
      h3= p.date
      div= p.text
      h2 Author:
      div= p.author
      each c in p.comments
        h3 Comment:
        div= c.commentAuthor 
        div= c.commentText
      h3 ------------------------------------------------------------