extends layout

block content
  .container-fluid.gedf-wrapper
    .row
      //perfil
      .col-md-3
        .card(style='margin-top: 1rem')
          .card-block
            h4.card-title=user
          ul.list-group.list-group-flush
            li.list-group-item=user.email
            li.list-group-item Mestrado em Engenharia Informática
          .card-block
            a.card-link(href='#') Editar Perfil
      //publicação      
      .col-md-6.gedf-main
        
      
        //feed
        
        .card(style='margin-top: 2rem')
        each p in feed
          .card-header
            .row
              .col-md-1
                img.rounded-circle(width='45', height='45', src='../images/wp1.jpg')
              .col-md-6
                .h5=p.author
                .h7.text-muted(style='font-size: 0.8rem')=p.author
          .card-block
            .h7.text-muted(style='font-size: 0.8rem; margin-bottom: 1rem')
              i.fa.fa-clock-o=p.date
              |
            h5.card-title(style='color:#417aba')=p.title
            p.card-text=p.text
              | 
      //grupos e eventos        
      .col-md-3
        .card(style='margin-top: 1rem')
          .card-block
              h4 Create
        .list-group
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newPub") Publication
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newEvent") Event
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newGroup") Group
        .card(style='margin-top: 1rem')  
          .card-block
            h4 Grupos
        .list-group
          //each g in user.groups
            button.list-group-item.list-group-item-action(type='button')=g
        .card(style='margin-top: 1rem')
          .card-block
            h4 Eventos
        .list-group
          //each e in user.events
            button.list-group-item.list-group-item-action(type='button') 
            