extends layout

block content

  <!-- The Modal Group -->
  div(class="modal" id="editProfile")
    div(class="modal-dialog")
      div(class="modal-content")
      
        <!-- Modal Header -->
        div(class="modal-header")
          h4(class="modal-title") Edit Profile
          button(type="button" class="close" data-dismiss="modal") &times
        
        <!-- Modal body -->
        div(class="modal-body")
          form(action='/users/myProfile/change/name' method='POST')
            div
              label(for='text' class='cols-sm-2 control-label') New name:
                input(type='text' class='form-control' name='name' id='name')  
              button.btn.btn-primary(type='submit' style='width:30%') Change name
          form(action='/users/myProfile/change/name' method='POST')
            div
              label(for='text' class='cols-sm-2 control-label') New email:
                input(type='text' class='form-control' name='email' id='email')  
              button.btn.btn-primary(type='submit' style='width:30%') Change email
          form(action='/users/myProfile/change/name' method='POST')
            div
              label(for='text' class='cols-sm-2 control-label') New password:
                input(type='password' class='form-control' name='password' id='password')  
              button.btn.btn-primary(type='submit' style='width:30%') Change password
        <!-- Modal footer -->
        div(class="modal-footer")
          button(type="button" class="btn btn-danger" data-dismiss="modal") Close


  .container-fluid
    br
    br
    br
    .row
      //perfil
      .col-md-3
        .card(style='margin-top: 1rem')
          .card-block
            h4.card-title
              b=profile.name
          ul.list-group.list-group-flush
            li.list-group-item=profile.number
            li.list-group-item=profile.email
          .card-block
            button.btn.btn-primary(type='button' data-toggle="modal" data-target="#editProfile") Edit Profile
        img(src='https://i.imgur.com/HjUcbLu.png' style='max-width:94%; display: inline-block;' class='img-fluid')

      <!-- Feed -->
      //publicação      
      .col-md-6.gedf-main
        
      
        //feed
        each p in feed
          if p.author == profile.number
            .card(style='margin-top: 1rem')
              .card-header
                .row
                  .col-md-1
                    img.rounded-circle(width='45', height='45', src='https://img.favpng.com/17/7/13/computer-icons-icon-design-user-png-favpng-uXME5zjHwHTJNs2Kzf5LvgFDR.jpg')
                  .col-md-6
                    .h5
                      b= p.authorName
                    .h7.text-muted(style='font-size: 0.8rem')='@' + p.author
              .card-block
                .h7.text-muted(style='font-size: 0.8rem; margin-bottom: 1rem')
                  i.fa.fa-clock-o=p.date
                  |
                h5.card-title(style='color:#417aba')
                  b=p.title
                .h7.text-muted(style='font-size: 0.7rem') 
                  h7
                    div
                      b Tags: 
                      h7= p.tags
                  h7= '@' + p.target
                  |
      //grupos e eventos        
      .col-md-3
        .card(style='margin-top: 1rem')  
          .card-block
            h4
              b Groups
          .list-group
            each g in profile.groups
              button.list-group-item.list-group-item-action(type='button')=g
        .card(style='margin-top: 1rem')
          .card-block
            h4 
              b Events
          .list-group
            each e in profile.events
              button.list-group-item.list-group-item-action(type='button')=e
            