extends layout

block content

  .container-fluid
    br
    br
    .row
      //perfil
      .col-md-3
        .card(style='margin-top: 1rem')
          .card-block
            h4.card-title
              b=profile.name
          ul.list-group.list-group-flush
            li.list-group-item=profile.number
            li.list-group-item=profile.email
        img(src='https://i.imgur.com/HjUcbLu.png' style='max-width:410px; display: inline-block;' class='img-fluid')

      <!-- Feed -->
      //publicação      
      .col-md-6.gedf-main
        //feed
        
        .card(style='margin-top: 1rem')
          each p in feed
            if p.author == profile.number
              .card-header
                .row
                  .col-md-1
                    img.rounded-circle(width='45', height='45', src='https://img.favpng.com/17/7/13/computer-icons-icon-design-user-png-favpng-uXME5zjHwHTJNs2Kzf5LvgFDR.jpg')
                  .col-md-6
                    .h5= p.authorName
                    .h7.text-muted(style='font-size: 0.8rem')=p.author
              .card-block
                .h7.text-muted(style='font-size: 0.8rem; margin-bottom: 1rem')
                  i.fa.fa-clock-o=p.date
                  |
                h5.card-title(style='color:#417aba')=p.title
                p.card-text=p.text
                  | 
      //grupos e eventos        
      .col-md-3
        .card(style='margin-top: 1rem')  
          .card-block
            h4
              b Groups
          .list-group
            each g in profile.groups
              button.list-group-item.list-group-item-action(type='button')=g
        .card(style='margin-top: 1rem')
          .card-block
            h4 
              b Events
          .list-group
            each e in profile.events
              button.list-group-item.list-group-item-action(type='button')=e
            


    
      
            